
<html>
<head>
    {#<link rel="shortcut icon" href="{{ app.request.basepath }}/img/favicon.ico" />#}
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>
    {#<script src="{{ app.request.basepath }}/js/common.js"></script>#}
</head>
<body>
    <div class="container">
        <form action="/save/" method="post">
            {% if upSell is defined %}<input name="upSellId" type="hidden" value="{{ upSell.getId() }}">{% endif %}
            <fieldset>
                <h4>Opis</h4>
                <label>Nazwa kampanii</label>
                <input name="name" type="text" placeholder="Type something…" required="required" {% if upSell is defined %}value="{{ upSell.getName() }}"{% endif %}>
                <label>Nagłówek oferty</label>
                <input name="headline" type="text" placeholder="Type something…" required="required" {% if upSell is defined %}value="{{ upSell.getHeadLine() }}"{% endif %}>
                <label>Opis oferty</label>
                <textarea name="description" required="required">{% if upSell is defined %}{{ upSell.getDescription() }}{% endif %}</textarea>
            </fieldset>
            <hr>
            <h4>Przedział cenowy</h4>
                <label class="checkbox">
                    <input id="price-range" name="price-range" type="checkbox" checked="checked"> Check me out
                </label>
                <div id="price-range-container">
                    <div class="input-prepend">
                        <span class="add-on">PLN</span>
                        <input name="price_from" class="span2" id="prependedInput" type="text" {% if upSell is defined and upSell.usePriceRane() %}value="{{ upSell.getPriceFrom() }}"{% endif %}>
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">PLN</span>
                        <input name="price_to" class="span2" id="prependedInput" type="text" {% if upSell is defined and upSell.usePriceRane() %}value="{{ upSell.getPriceTo() }}"{% endif %}>
                    </div>
                </div>
            <hr>

            <h4>Gdy produkty w koszyku:</h4>
            <label class="checkbox">
                <input id="enable-in-cart" name="price-range" type="checkbox" checked="checked"> Check me out
            </label>

            <div id="cart-container">
                <select name="selected-product-trigger[]" multiple>
                    {% for product in products['products'] %}
                        <option value="{{ product['id'] }}" {% if upSell is defined and upSell.hasProductIdInCart(product['id']) %}selected="selected"{% endif %}>{{ product['name'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <hr>

            <div class="hide">
                <h4>wybierz zniżke:</h4>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>

                <hr>
            </div>

            <div>
                <h4>Wybierz produkt:</h4>

                <select name="up-sell-products[]" multiple required="required">
                    {% for product in products['products'] %}
                        <option value="{{ product['id'] }}" {% if upSell is defined and upSell.hasRelatedProductId(product['id']) %}selected="selected"{% endif %}>{{ product['name'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <script type="text/javascript">
        $(function(){
           $('#price-range').click(function() {
              if ($(this).is(':checked'))
              {
                  $('#price-range-container').removeClass('hide');

              }
              else
              {
                  $('#price-range-container').addClass('hide');
              }
           });

            $('#enable-in-cart').click(function() {
                if ($(this).is(':checked'))
                {
                    $('#cart-container').removeClass('hide');

                }
                else
                {
                    $('#cart-container').addClass('hide');
                }
            });


        });
    </script>
</body>
</html>