{% for product in products %}
    {% set variants = product.getVariantArray() %}
    {% if variants|length > 1 %}
        {% set variantString = '' %}
        {% for key, variant in variants %}
            {% if loop.last %}
                {% set variantString = variantString~key~";"~variant.var_type %}
            {% else %}
                {% set variantString = variantString~key~";"~variant.var_type~";" %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <li class="item chosen" data-id="{{ product.getShoploProductId() }}" data-thumbnail="{{ product.getThumbnail() }}" {% if variantString is defined %}data-variants="{{ variantString }}"{% endif %} data-name="{{ product.getName() }}">
        <ul class="table-columns">
            <li class="with-thumb-50 name">
                <ul class="table-columns">
                    <li class="thumb">
                        <span class="thumb-50">
                            <img src="{{ product.getThumbnail() }}">
                        </span>
                    </li>

                    <li class="text">
                        <p class="bottom name">{{ product.getName() }}</p>
                    </li>
                </ul>
            </li>

            <li class="model">
                {{ product.getOriginalPrice() }} zł
            </li>

            <li class="action">
                <button class="btn-light add">Dodaj</button>
            </li>
        </ul>
    </li>
{% endfor %}