
<div id="chart"></div>
<script type="text/javascript">

var fontFamily = 'Open Sans',
		redColor = '#f55161',
		greenColor = '#3cbb9b',
		blueColor = '#0f9ddd',
		grayColor = '#abacb2';

$.elycharts.templates['shoplo'] = {
	type: 'line',
	margins: [30, 30, 60, 30],
	series: {
		serie1: {
			rounded: false,
			plotProps: {
				'stroke-width': 3,
				stroke: "red"
			},
			dot: true,
			dotProps: {
				size: 5,
				fill: '#fff',
				stroke: "red",
				'stroke-width': 3
			},
			highlight: {
				scale: 1.5
			},
			tooltip: {
//						                    width: 44,
//						                    height: 40,
				roundedCorners: 2,
				padding: [5, 8],
				offset: [12, 22],
				contentStyle: {
					color: '#fff',
					'font-size': '15px',
					'font-weight': '600',
					'font-family': fontFamily,
					'text-align': 'center'
				},
				frameProps: {
					fill: "red",
					'stroke-width': 0
				}
			},
			startAnimation: {
				active: true,
				type: 'grow',
				speed: 500,
				easing: '>'
			}
		},
		serie2: {
			rounded: false,
			plotProps: {
				'stroke-width': 3,
				stroke: greenColor
			},
			dot: true,
			dotProps: {
				size: 5,
				fill: '#fff',
				stroke: greenColor,
				'stroke-width': 3
			},
			highlight: {
				scale: 1.5
			},
			tooltip: {
//						                    width: 44,
//						                    height: 40,
				roundedCorners: 2,
				padding: [5, 8],
				offset: [12, 22],
				contentStyle: {
					color: '#fff',
					'font-size': '15px',
					'font-weight': '600',
					'font-family': fontFamily,
					'text-align': 'center'
				},
				frameProps: {
					fill: greenColor,
					'stroke-width': 0
				}
			},
			startAnimation: {
				active: true,
				type: 'grow',
				speed: 500,
				easing: '>'
			}
		}
	},
	defaultAxis: {
		labels: true,
		labelsDistance: 15,
		labelsAnchor: 'middle',
		labelsProps: {
			fill: grayColor,
			'font-family': fontFamily
		}
	},
	axis: {
		l: {
			labels: true
		}
	},
	features: {
		tooltip: {
			moveDelay: 100
		},
		grid: {
			draw: [false, true]
		}
	}
};


$("#chart").chart({
	type: 'line',
	template: 'shoplo',
	tooltips: {
		serie1: [
			{% for stats in statsData %}
			"{{ stats.fullValue - stats.upSellValue  }} zł<br>(bez upsell)"{% if not loop.last %},{% endif %}
			{% endfor %}
		],
		serie2: [
			{% for stats in statsData %}
			"{{ stats.fullValue }} zł<br>(z upsell)"{% if not loop.last %},{% endif %}
			{% endfor %}
		]
	},
	values: {
		serie1: [
			{% for stats in statsData %}
			"{{ stats.fullValue - stats.upSellValue  }}"{% if not loop.last %},{% endif %}
			{% endfor %}
		],
		serie2: [
			{% for stats in statsData %}
			"{{ stats.fullValue }}"{% if not loop.last %},{% endif %}
			{% endfor %}
		]
	},

	labels: [
		{% for date in statsData|keys %}
		"{{ date }}"{% if not loop.last %},{% endif %}
		{% endfor %}
	]
});

</script>
