<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://www.shoplo.com/css/admin!admin-4486067.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="{{ app.request.basepath }}/js/raphael.min.js"></script>
	<script src="{{ app.request.basepath }}/js/elycharts.min.js"></script>
</head>



<body class="content-ready sidebar-collapsed" style="">
<iframe src="http://{{ shop['permanent_domain'] }}/admin/adminnavbar" style="width:230px;height:1000px;border:0;position:fixed;top:0;left:0;"></iframe>


<section style="width: 1024px;" id="home-page" class="main-container">
    <section class="content-container">
        <section class="content-dashboard">
            <article class="content">
                <section style="width: 1024px;" class="scroll-area right-frame bottom-frame">
                    <section class="box bottom-frame">
                        <h2 class="pull-left">Product UpSell</h2>
                        <section class="filters">
                            <a class="btn-dark pull-right" data-icon="/" href="/logout">Wyloguj</a>
                            <a class="btn-dark pull-right" data-icon="m" href="/add">Dodaj</a>
                        </section>
                    </section>
                    <section class="scroll-content">
	                    <ul class="table-columns four-in-row bottom-frame stats">
		                    <li class="box current" data-original-title="" title="">

			                    <span class="label month">Wyświetleń upsell</span>
			                    <span class="value"><b id="upSellShowRate">{{ statsNumbers['upSellShowRate'] }}</b></span>
		                    </li>
		                    <li class="box previous left-frame">

			                    <span class="label month">SPRZEDAŻ UPSELL</span>
			                    <span class="value"><b id="upSellRevenue">{{ statsNumbers['upSellRevenue'] }}</b> <sup class="">PLN</sup></span>
		                    </li>
		                    <li class="box variantion left-frame"  data-original-title="" title="">
			                    <span class="label">ŚR. WARTOŚĆ KOSZYKA</span>
			                    <span class="value"><b id="avgCartValue">{{ statsNumbers['avgCartValue'] }}</b> <sup>PLN</sup></span>
		                    </li>
		                    <li id="stats-select" class="box left-frame">
			                    <select id="stats-date-picker" class="date-select simple-select last pull-right" data-icon="r">
				                    <option value="day">dzisiaj</option>
				                    <option value="week" selected="selected">ostatnie 7 dni</option>
				                    <option value="month">ostatnie 30 dni</option>
			                    </select>
		                    </li>
	                    </ul>
	                    <section class="chart">
	                    {% include 'homepage-stats.block.html.twig' with {'statsData': statsData, 'statsNumbers': statsNumbers } %}
	                    </section>

		                {% if uppSells|length == 0 %}
			                <section class="blank-slate box bottom-frame">
				                <i class="big-icon" data-icon="l"></i>
				                <h2>Nie posiadasz jeszcze żadnych up-selli</h2>
			                </section>
		                {% else %}


		                    <section class="box variants clearfix">
		                        <h2 class="pull-left">Aktywne oferty</h2>
			                    {% if uppSells|length > 7 %}
				                    <input id="search" type="search" placeholder="wyszukaj" class="pull-right">
			                    {% endif %}
		                    </section>
		                    <section style="position: relative;">
		                        <ul id="sortable">
		                            {% for upSell in uppSells %}
		                                <li class="list-item">
		                                    <ul class="table-columns four-in-row top-frame" data-up-sell-id="{{ upSell.getId() }}">
		                                        <li id="up-sell-name" data-skus="{{ upSell.getSkuFromProducts(true) }}" class="box ">
		                                            {{ upSell.getName() }}

		                                        </li>
		                                        <li class="box ">
		                                             {{ upSell.getCreatedAt() }}
		                                        </li>
			                                    <li class="box ">
				                                    {% if upSell.getPlacement() == 'cart' %}
					                                    <span class="badge badge-inverse">koszyk</span>
				                                    {% else %}
					                                    <span class="badge badge-inverse">produkt</span>
				                                    {% endif %}
		                                        </li>
		                                        <li class="box ">
		                                            <a href="/edit/{{ upSell.getId() }}">Edytuj</a>
		                                            {% if upSell.isActive() %}
		                                                <a href="/status/disable?up-sell-id={{ upSell.getId() }}" >Zatrzymaj</a>
		                                            {% else %}
		                                                <a href="/status/activate?up-sell-id={{ upSell.getId() }}" >Aktywuj</a>
		                                            {% endif %}

		                                            <a href="/delete?up-sell-id={{ upSell.getId() }}">Usuń</a>
		                                        </li>

		                                    </ul>
		                                </li>
		                            {% endfor %}
		                        </ul>
		                        <div class="loader hide">
		                            <img src="{{ app.request.basepath }}/img/loader.gif">
		                        </div>
		                    </section>

	                        <script>
	                            $(function() {
	                                $( "#sortable" ).sortable();
	                                $( "#sortable" ).disableSelection();
	                            });
	                        </script>

	                    </section>
	                {% endif %}
                </section>
            </article>
    </section>
</section>


</section>
<script src="http://www.shoplo.com/js/admin!bootstrap-admin!bootstrap.select-admin!bootstrap.checkbox-admin!jquery.custom-admin!jquery.validate-admin!jquery.sortable-admin!jquery.slimscroll-admin!jquery.numberAnimate-admin!jquery.touchtoclick-admin!admin-admin!main-11240606.js"></script>
<script src="http://www.shoplo.com/js/admin!autocompleter-0.js"></script>
<script>
    ADMIN.ROOT = 'local.up-sell.pl';
    ADMIN.STATIC_ROOT = 'local.up-sell.pl';
    ADMIN.USER = {
        ID: '0',
        TOKEN: '',
        LANG: {% if js_dict is defined %}eval(js_dict){% else %}''{% endif %},
        IC: {% if ins_com is defined and ins_com %}true{% else %}false{% endif %}
    };
    ADMIN.SHOP = {
        CURRENCY: '{% if shop is defined and shop%}{{ shop.currency }}{% endif %}'
    };

    ADMIN.run();
</script>
<script type="text/javascript">
    $(function() {

	    $('#stats-date-picker').change(function () {


		    var data = {
			    'type': $(this).val()
		    };

		    $.post("/ajax/up-sell/home-page-stats", data, function (ajaxResult) {

				$('.chart').html(ajaxResult['html']);
			    $('#upSellShowRate').text(ajaxResult['statsNumbers']['upSellShowRate']);
			    $('#upSellRevenue').text(ajaxResult['statsNumbers']['upSellRevenue']);
			    $('#avgCartValue').text(ajaxResult['statsNumbers']['avgCartValue']);
		    });
	    });

	    $('#search').keyup(function () {

		    var query = $(this).val().toLowerCase();

		    $('#sortable').find('.list-item').each(function () {

			    var name = $(this).find('#up-sell-name').text().toLowerCase().trim();
			    var skus = $(this).find('#up-sell-name').data('skus');


			    if (false == skus)
			    {
				    skus = '';
			    }

			    skus = skus.toLowerCase().trim();

			    if (name.indexOf(query) == -1 && skus.indexOf(query) == -1) {
				    $(this).hide();
			    }
			    else {
				    $(this).show();
			    }
		    });
	    });
    });

</script>
</body>
</html>