<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://www.shoplo.com/css/admin!admin-4486067.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>



<body class="content-ready sidebar-collapsed" style="">
<iframe src="http://{{ shop['permanent_domain'] }}/admin/adminnavbar" style="width:230px;height:1000px;border:0;position:fixed;top:0;left:0;"></iframe>


<section id="home-page" class="main-container">
    <section class="content-container">
        <section class="content-dashboard">
            <article class="content">
                <section class="scroll-area right-frame bottom-frame">
                    <section class="box bottom-frame scroll-heading">
                        <h2 class="pull-left">Product UpSell</h2>
                        <section class="filters">
                            <a class="btn-dark pull-right" data-icon="/" href="/logout">Wyloguj</a>
                            <a class="btn-dark pull-right" data-icon="m" href="/add">Dodaj</a>
                            <input id="search" type="search" placeholder="wyszukaj" class="pull-right">
                        </section>
                    </section>
                    <section class="scroll-content">
                    {#<div class="" style="position: relative; width: auto;">#}
                        {#<section class="" style=" width: auto; ">#}

                            <section class="box variants clearfix">
                                <h2 class="pull-left">Aktywne oferty</h2>
                            </section>
                            <section style="position: relative;">
                                <ul id="sortable">
                                    {% for upSell in uppSells %}
                                        <li class="list-item">
                                            <ul class="table-columns three-in-row top-frame bottom-frame" data-up-sell-id="{{ upSell.getId() }}">
                                                <li id="up-sell-name" class="box ">
                                                    {{ upSell.getName() }}
                                                </li>
                                                <li class="box ">
                                                     {{ upSell.getCreatedAt() }}
                                                </li>
                                                <li class="box ">
                                                    <a href="/edit/{{ upSell.getId() }}">Edytuj</a>
                                                    {% if upSell.isActive() %}
                                                        <a href="/status/disable?up-sell-id={{ upSell.getId() }}" >Zatrzymaj</a>
                                                    {% else %}
                                                        <a href="/status/activate?up-sell-id={{ upSell.getId() }}" >Aktywuj</a>
                                                    {% endif %}

                                                    <a href="/delete?up-sell-id={{ upSell.getId() }}">Usuń</a>
                                                </li>

                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="loader hide">
                                    <img src="{{ app.request.basepath }}/img/loader.gif">
                                </div>
                            </section>


                            <script>
                                $(function() {
                                    $( "#sortable" ).sortable();
                                    $( "#sortable" ).disableSelection();
                                });
                            </script>

                        </section>
                </section>
            </article>
    </section>
</section>


</section>
<script src="http://www.shoplo.com/js/admin!bootstrap-admin!bootstrap.select-admin!bootstrap.checkbox-admin!jquery.custom-admin!jquery.validate-admin!jquery.sortable-admin!jquery.slimscroll-admin!jquery.numberAnimate-admin!jquery.touchtoclick-admin!admin-admin!main-11240606.js"></script>
<script src="http://www.shoplo.com/js/admin!autocompleter-0.js"></script>
<script>
    ADMIN.ROOT = 'local.up-sell.pl';
    ADMIN.STATIC_ROOT = 'local.up-sell.pl';
    ADMIN.USER = {
        ID: '0',
        TOKEN: '',
        LANG: {% if js_dict is defined %}eval(js_dict){% else %}''{% endif %},
        IC: {% if ins_com is defined and ins_com %}true{% else %}false{% endif %}
    };
    ADMIN.SHOP = {
        CURRENCY: '{% if shop is defined and shop%}{{ shop.currency }}{% endif %}'
    };

    ADMIN.run();
</script>
<script type="text/javascript">
    $(function(){

	    $('#search').keyup(function(){

		    var query = $(this).val().toLowerCase();

			$('#sortable').find('.list-item').each(function(){

				var name = $(this).find('#up-sell-name').text().toLowerCase().trim();

				if (name.indexOf(query) == -1)
				{
					$(this).hide();
				}
				else
				{
					$(this).show();
				}
			});
	    });

        $( "#sortable" ).sortable({

            placeholder: "sortable-placeholder",
            cursor: 'pointer',

            start: function( event, ui ) {
              $(ui.item).addClass('left-frame');
              $(ui.item).addClass('right-frame');
              $(ui.item).addClass('sorted-item');
            },

            stop: function( event, ui ) {
                $(ui.item).removeClass('left-frame');
                $(ui.item).removeClass('right-frame');
                $(ui.item).removeClass('sorted-item');
            },
            update: function( event, ui ) {
                var index = 1;
                var data = [];

                $('#sortable').fadeTo( "slow" , 0.2);
                $('.loader').toggle('slow');


                $("#sortable").find('ul').each(function(){

                    data.push($(this).data('up-sell-id'));

                }).delay( 10000 );

                var userData = {
                    'data': data
                };



                $.post('/ajax/sort', userData, function (ajaxResult) {
                        if(ajaxResult.status == 'ok'){
                            setTimeout(function(){
                                $('#sortable').fadeTo("slow", 1);
                                $('.loader').toggle();
                            }, 2000);

                        }

                }
                , 'json');
            }
        });
    });
</script>
</body>
</html>