<td class="box bottom-frame right-frame left-column valign-top">
    <h3>Produkty, które chcesz upsellować</h3>
</td>

<td class="bottom-frame  valign-top">
    <section class="control-group bottom box bottom-frame clearfix">
        <ul class="table-columns">
            <li>
                <label class="control-label bottom pull-left" for="pageTitle">
                    Wybierz zniżkę
                </label>
            </li>
            <li>
                <select name="discount-type" class="pull-right to-right" id="select-discount">
                    <option value="none" {% if upSell != null and upSell.getDiscountType() == 'none' %} selected=selected{% endif %}>Nie chcę zniżki</option>
                    <option value="percent" {% if upSell != null and upSell.getDiscountType() == 'percent' %} selected=selected{% endif %}>Zniżka procentowa</option>
                    <option value="amount" {% if upSell != null and upSell.getDiscountType() == 'amount' %} selected=selected{% endif %}>Zniżka cenowa</option>
                </select>
                <div class="discount-container input-prepend pull-right space-right space-top" style="height: 30px">
                    {% if upSell != null and upSell.getDiscountType() == 'percent' %}
                        <div><span class="add-on">%</span><input name="discount-amount" type="text" style="height: 30px;" value="{{ upSell.getDiscountAmount() }}"></div>
                    {% elseif upSell != null and upSell.getDiscountType() == 'amount' %}
                        <div><span class="add-on">$</span><input name="discount-amount" type="text" style="height: 30px;" value="{{ upSell.getDiscountAmount() }}"></div>
                    {% endif %}
                </div>

            </li>
        </ul>
    </section>


    <section id="up-sell" class="control-group bottom box clearfix">
        <label class="control-label small bottom" for="product-autocompleter">Wybierz produkty</label>
        <section class="controls box gray top-frame bottom-frame left-frame right-frame with-autocompleter">
            <section class="autocompleter">
                <input type="text" id="up-sell-ac" autocomplete="off" placeholder="Zacznij wpisywać nazwę produktu..." />

                <section id="up-sell-ac-result-container" class="autocompleter-scroll hide">
                    <ul id="autocompleter-list" class="autocompleter-list">

                    </ul>
                </section>
            </section>
        </section>
        <section class="control-group box">
            <ul class="grid horizontal photos products  prevent-ajax">
                {% if upSell != null %}
                    {% for product in upSell.getProducts() %}
                        <li class="with-handle with-meta preloaded" data-id="8">
                            <a class="delete" data-icon="!"></a>
                            <span class="thumb-100 fade in" style="margin-top: 51px;">
                                <img src="{{ product.getThumbnail() }}">
                            </span>

                            <section class="meta">
                                <span class="text">{{ product.getName() }}</span>
                            </section>
                            {% set variants = product.getVariantArray() %}
                            {% if variants|length > 1 %}
                                <select class="prevent-render" style="visibility: visible;">
                                    {% for variant in variants %}

                                        <option value="1">{{ variant.var_type }}</option>


                                    {% endfor %}
                                </select>
                            {% endif %}

                            <input type="hidden" name="up-sell-products[]" value="{{ product.getShoploProductId() }}">
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </section>
</td>

